/* General Styles */
body {
    font-family: Arial, serif;
    background-color: #4d2c1d;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

/* Container */
.container {
    width: 50%;
    margin: auto;
    background-color: #5a3626;
    padding: 20px;
    border-radius: 10px;
}

/* Pie Chart */
canvas {
    width: 350px !important;
    height: 350px !important;
    display: block;
    margin: auto;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
