body {
    font-family: 'Arial', sans-serif;
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    overflow-y: auto;
}

.container {
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1000px;
    height: auto;
    overflow-y: auto;
}

h1, h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid green;
    border-radius: 5px;
    box-sizing: border-box;
}

.button-group {
    text-align: center;
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #28a745;
    color: wheat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

canvas {
    display: block;
    margin: 20px auto;
    width: 50%;
    max-width: 300px;
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
}
